<div class="fileupload__container">
  {% render 'fileupload-snippet' %}
</div>

{% schema %}
{
  "name": "t:blocks.fileupload.name",
  "target": "section",
  "stylesheet": "fileupload.css"
}
{% endschema %}

