<label for="fileupload-input">{{ 'blocks.fileupload.name' | t }}</label>
<input type="file" id="fileupload-input" name="fileupload-input">

<script src="{{ 'fileupload.js' | asset_url }}" defer="defer"></script>